basePath: /api/v1
definitions:
  auth.GoogleCallbackResponse:
    properties:
      token:
        type: string
    type: object
  auth.GoogleLoginResponse:
    properties:
      url:
        type: string
    type: object
  auth.LoginRequest:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  auth.LoginResponse:
    properties:
      token:
        type: string
    type: object
  auth.RegisterRequest:
    properties:
      email:
        type: string
      name:
        type: string
      password:
        minLength: 6
        type: string
    required:
    - email
    - name
    - password
    type: object
  auth.RegisterResponse:
    properties:
      token:
        type: string
    type: object
  httpserv.Error:
    properties:
      error:
        description: Since there is existing dependency at infinity end, unable to
          fix the json key name
        type: string
      error_description:
        description: Since there is existing dependency at infinity end, unable to
          fix the json key name
        type: string
    type: object
  model.User:
    properties:
      created_at:
        type: string
      email:
        type: string
      emailVerified:
        type: string
      id:
        type: integer
      image:
        type: string
      name:
        type: string
      updated_at:
        type: string
    type: object
  users.CreateUserRequest:
    properties:
      email:
        type: string
      name:
        maxLength: 100
        minLength: 2
        type: string
    required:
    - email
    - name
    type: object
  users.CreateUserResponse:
    properties:
      user:
        $ref: '#/definitions/model.User'
    type: object
  users.GetUserResponse:
    properties:
      user:
        $ref: '#/definitions/model.User'
    type: object
  users.ListUsersResponse:
    properties:
      limit:
        type: integer
      offset:
        type: integer
      total:
        type: integer
      users:
        items:
          $ref: '#/definitions/model.User'
        type: array
    type: object
  users.UpdateUserRequest:
    properties:
      email:
        type: string
      name:
        maxLength: 100
        minLength: 2
        type: string
    type: object
host: localhost:8080
info:
  contact:
    email: support@swagger.io
    name: API Support
    url: http://www.swagger.io/support
  description: This is a sample server implementation.
  license:
    name: Apache 2.0
    url: http://www.apache.org/licenses/LICENSE-2.0.html
  termsOfService: http://swagger.io/terms/
  title: Go Backend Template API
  version: "1.0"
paths:
  /auth/google/callback:
    get:
      description: Handle Google OAuth callback and return token
      parameters:
      - description: OAuth state
        in: query
        name: state
        required: true
        type: string
      - description: OAuth code
        in: query
        name: code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.GoogleCallbackResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httpserv.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpserv.Error'
      summary: Google callback
      tags:
      - auth
  /auth/google/login:
    get:
      description: Get Google login URL
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.GoogleLoginResponse'
      summary: Google login
      tags:
      - auth
  /auth/login:
    post:
      consumes:
      - application/json
      description: Authenticate user and return token
      parameters:
      - description: Login credentials
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/auth.LoginRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.LoginResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httpserv.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/httpserv.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpserv.Error'
      summary: User login
      tags:
      - auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Register a new user account
      parameters:
      - description: Registration info
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/auth.RegisterRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.RegisterResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httpserv.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpserv.Error'
      summary: Register user
      tags:
      - auth
  /users:
    get:
      consumes:
      - application/json
      description: Get a list of users
      parameters:
      - description: Limit
        in: query
        name: limit
        type: integer
      - description: Offset
        in: query
        name: offset
        type: integer
      - description: Email filter
        in: query
        name: email
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/users.ListUsersResponse'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpserv.Error'
      security:
      - BearerAuth: []
      summary: List users
      tags:
      - users
    post:
      consumes:
      - application/json
      description: Create a new user account
      parameters:
      - description: User info
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/users.CreateUserRequest'
      produces:
      - application/json
      responses:
        "201":
          description: Created
          schema:
            $ref: '#/definitions/users.CreateUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httpserv.Error'
        "409":
          description: Conflict
          schema:
            $ref: '#/definitions/httpserv.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpserv.Error'
      security:
      - BearerAuth: []
      summary: Create user
      tags:
      - users
  /users/{id}:
    delete:
      consumes:
      - application/json
      description: Delete a user account
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httpserv.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpserv.Error'
      security:
      - BearerAuth: []
      summary: Delete user
      tags:
      - users
    get:
      consumes:
      - application/json
      description: Get user details by ID
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/users.GetUserResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httpserv.Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/httpserv.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpserv.Error'
      security:
      - BearerAuth: []
      summary: Get user
      tags:
      - users
    put:
      consumes:
      - application/json
      description: Update user details
      parameters:
      - description: User ID
        in: path
        name: id
        required: true
        type: integer
      - description: Update info
        in: body
        name: input
        required: true
        schema:
          $ref: '#/definitions/users.UpdateUserRequest'
      produces:
      - application/json
      responses:
        "204":
          description: No Content
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/httpserv.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/httpserv.Error'
      security:
      - BearerAuth: []
      summary: Update user
      tags:
      - users
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
