# Server Configuration
APP_PORT=8080
APP_ENV=dev

# JWT Configuration
JWT_SECRET=your_random_secret

# Database Configuration
DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=go_backend_db
DB_SSL_MODE=disable

# Database Pool
DB_MAX_OPEN_CONNS=25
DB_MAX_IDLE_CONNS=5

# Google OAuth
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
GOOGLE_REDIRECT_URL=http://localhost:8080/api/v1/auth/google/callback
